<!DOCTYPE html>
<html>
  <head>
  <%= render "layouts/admin/head" %>
  </head>
  <body>
  <div id="wrapper">
    <%= render "layouts/admin/sidebar" %>
  	<%= render "layouts/admin/navbar" %>
    <%= yield %>
    <%= render "layouts/admin/footer" %>
  </div>
  </body>
</html>


